/* first color: 66cc66 */
/* second color: 66cc66 */

.boba-php {
    width: 100%;
    height: auto;
}

.catchy-boba-phrase {
    margin-top: 5em;
}

.catchy-boba-phrase-section{
    margin-top: 1.5em;
}

.boba-php-logo {
    width: 10%;
    height: auto;
}